numpy
pandas
scikit-learn
sentence-transformers
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
spacy
nltk
rapidfuzz
textblob
groq
python-dotenv
authlib
pydantic[email]
itsdangerous
passlib[bcrypt]==1.7.4
bcrypt==4.0.1